.list {
  margin: 20px;
  margin-left: 50px;
}
.listItem {
  margin-bottom: 10px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.NavLink {
  font-size: large;
  font-weight: 400;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(54, 46, 46);
  width: 100px;
  padding: 15px;
  text-align: center;

  &:not(:first-child) {
    margin-left: 10px;
  }
  &:hover {
    color: rgb(218, 57, 105);
  }
}
.NavLinkActive {
  color: rgb(107, 151, 49);
}
